html{  
    background-color: white;
}
.container{   
    background-color: bisque;
    margin-top: 60px;
    padding: 15px;
    border-radius: 10px;
    
}
button{ 
    background-color: purple;
    color: white;
    display: block;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 0;
    width: 10rem;
    margin-bottom: 1rem;
 
    
}

button:hover{   
    background-color: pink;
}
